/* BLUE */
.md_no-touch .main_menu > li:hover > a,.main_menu > li.current > a,
.main_menu > .current_click > a,
.main_menu > li.touch_open_sub > a,
[class*="button_type_"].bg_cs_hover:hover,
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {background: #114e9a;}
.sub_menu_wrap:before{
	border-bottom-color:#114e9a;
}
.sub_menu_wrap,.banner_type_2.red {
	border-color:#114e9a;	
}
.view-service .icon_wrap_1, .page-index-corporate .view-service .icon_wrap_1{
	background:#FFF;
	border: 1px solid #114e9a;
	color: #114e9a;
}
.view-service .icon_wrap_1:hover, .view-service .animate_vertical_finished:hover  .icon_wrap_1 {
	background:#114e9a;
	color: #FFF;
}
.view-service .animate_vertical_finished a.tt_uppercase {color: #114e9a; text-transform: none;}

@media only screen and (max-width: 767px){
	.main_menu > li > a {
		border: 1px solid #114e9a;
		color: #292f38;
	}
}